.headingbg {
    background-color: whitesmoke;
    background: cover;
    overflow-y: none;
    width: 1300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    width: 100px;
    height: 30px;
    left: 50px;
    margin-top: 5px;

}

.button:hover {
    background-color: rgb(28, 151, 179);
}

.circle {
    color: green;
    right: 5px;
}

.buttontwo {
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}